.menusupabase-elementomenu{
    display: inline;
    margin: 10px;
    padding: 10px;
    border: solid rgb(110, 110, 112) 1px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.menusupabase-elementomenu:hover {
    background-color: rgb(60, 60, 63);
    color:rgb(255, 255, 255);
    cursor: pointer;    
}

.menusupabase-navegacion{
    padding: 20px;
}
